[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18.20.4"
  NPM_FLAGS = "--legacy-peer-deps"

[[headers]]
  for = "/*"
  [headers.values]
    # Эти заголовки могут помочь при работе с одностраничными приложениями
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"